<html lang="en">
<head>

    <% include ../helpers/head %>
    <link href="https://fonts.googleapis.com/css?family=Mukta:400,700,800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="topnav">
        <!-- <a href="https://www.linkedin.com/in/joieng/">LinkedIn</a> -->
        <!-- <a href="https://github.com/joiewyng?tab=repositories">GitHub</a> -->
        <a href="https://drive.google.com/file/d/1ICEGM9LivAPuVtULIv0WOZvZ8p4Vc2Es/view?usp=sharing">Resume</a>
        <a href="about">About</a>
        <a href="/">Portfolio</a>
    </div>

   
    

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <!-- <div class="page-header">
    <h1>Joie Ng</h1>
  </div> -->
 

  <div class="row">
      <div class="col-lg-6 col-sm-7 right-col">
        <text class="proj-header">
            Hi! My name is Joie -- pronounced jo·ey ✨
        </text>
        <br>
        <text class="proj-description">
            I'm currently a sophomore in Cornell's College of Engineering majoring in
            Computer Science. 
            <br>
            <br>
            This semester I am working on mobile development for Cornell University Sustainable Design's 
            Currents project. I'm also a web developer for the Cornell chapter of Society of Women Engineers.
            <br>
            <br>
            Outside of work, I love travelling, needle felting, taking photos, and baking macarons!
            <br>
            <br>
            Feel free to contact me at jn437@cornell.edu!
        </text>
      </div>
      <div class="col-lg-6 col-sm-5 left-col">
          <img class="proj-image" src="project/images/portrait.JPG"> 
      </div>
  </div>


</body>

</html>
