<html lang="en">
<head>

    <% include ../helpers/head %>
    <link href="https://fonts.googleapis.com/css?family=Mukta:400,700,800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="topnav">
        <!-- <a href="https://www.linkedin.com/in/joieng/">LinkedIn</a> -->
        <!-- <a href="https://github.com/joiewyng?tab=repositories">GitHub</a> -->
        <a href="https://drive.google.com/file/d/1ICEGM9LivAPuVtULIv0WOZvZ8p4Vc2Es/view?usp=sharing">Resume</a>
        <a href="about">About</a>
        <a href="/">Portfolio</a>
    </div>

   
    

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <!-- <div class="page-header">
    <h1>Joie Ng</h1>
  </div> -->
 
  
  <div class="intro row">
    Hello, I'm Joie.
    <br>
    I am a sophomore studying Computer Science at Cornell...
  </div>

  <div class="row">
      <div class="col-lg-4 col-sm-5 left-col">
          <img class="proj-image" src="project/images/currents-app.JPG"> 
      </div>
      <div class="col-lg-8 col-sm-7 right-col">
        <text class="proj-header">
          Currents
        </text>
        <text class="proj-description">
            Cornell University Sustainable Design’s Currents project aims to maximize 
            energy savings in campus rooms by controlling the heating systems based on 
            user location predictions. The mobile application allows users to monitor and 
            update the state of the heating system. I am currently implementing 
            this app and integrating it with the server using ReactNative and Node.js.
          <br>
          
        </text>
      </div>
  </div>
  
  <div class="row">
      <div class="col-lg-4 col-sm-5 left-col">
          <img class="proj-image" src="project/images/roots-and-shoots-website.JPG"> 
      </div>
      <div class="col-lg-8 col-sm-7 right-col">
        <text class="proj-header">
          BBHS Roots & Shoots Website
        </text>
        <text class="proj-description">
          A website created for Blind Brook High School's Roots & Shoots club, 
          which focuses on promoting sustainability within the school and local community
          through various initiatives. 
          <br>
          
        </text>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-4 col-sm-5 left-col">
          <img class="proj-image" src="project/images/OH-app.JPG"> 
      </div>
      <div class="col-lg-8 col-sm-7 right-col">
        <text class="proj-header">
          OH!
        </text>
        <text class="proj-description">
          OH! is an iOS application that consolidates office hours for Cornell classes 
          onto one platform. 
          I worked on frontend development using Xcode and Swift, 
          collaborating as part of a 4 person team with other developers and a designer. 
          <br>
          
        </text>
      </div>
  </div>

  
<!--
  <button class="btn btn-default" type="button" onclick="myFunction()">
    "!!!"
  </button>
-->
  <div id="doge-image"/>


</body>

</html>
