<html lang="en">
<head>
  
    <% include ../helpers/head %>

</head>

<body>
    <div class="topnav">
        <a href="https://www.linkedin.com/in/joieng/">LinkedIn</a>
        <a href="https://github.com/joiewyng?tab=repositories">GitHub</a>
        <a href="https://drive.google.com/file/d/1m8_ZKe-zJg-I9vYghxlj9JhHeGeOB9J4/view?usp=sharing">Resume</a>
    </div>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>Joie Ng</h1>
  </div>

  <p id="demo">
    <!---This is me testing out a lil html file-->
  </p>


<!--
  <button class="btn btn-default" type="button" onclick="myFunction()">
    "!!!"
  </button>
-->
  <div id="doge-image"/>


</body>

</html>